Repository akash-network/node, pull requests merged in 2020-05, with the labels that each got.

#525 ci: re-enable lint
  .buildkite/script/test.sh
  Makefile
Labels: env/ci

#553 CRD Types Updated, use `v1` APIs with context passed
  Makefile
  _build/Dockerfile.akashctl
  _run/single/Makefile
  cmd/akashctl/provider.go
  pkg/apis/akash.network/v1/doc.go
  pkg/apis/akash.network/v1/register.go
  pkg/apis/akash.network/v1/types.go
  pkg/apis/akash.network/v1/types_test.go
  pkg/apis/akash.network/v1/zz_generated.deepcopy.go
  provider/cluster/kube/apply.go
  provider/cluster/kube/cleanup.go
  provider/cluster/kube/client.go
Labels: kind/refactor, module/kubernetes

#588 refactor: clean up tools.go
  Makefile
  go.mod
  go.sum
  tools.go
Labels: kind/refactor
