Repository akash-network/node, pull requests merged in 2023-05, with the labels that each got.

#1812 feat(x): decode modules genesis state for testnetify command
  x/audit/genesis.go
  x/deployment/genesis.go
  x/gov/genesis.go
  x/inflation/genesis.go
  x/market/genesis.go
  x/provider/genesis.go
Labels: C:x/deployment, C:x/audit, C:x/gov, C:x/inflation, C:x/market, C:x/provider

#1814 feat(cmd): implement testnetify command
  cmd/akash/cmd/genaccounts.go
  cmd/akash/cmd/root.go
  cmd/akash/cmd/testnetify/accounts.go
  cmd/akash/cmd/testnetify/cmd.go
  cmd/akash/cmd/testnetify/config.go
  cmd/akash/cmd/testnetify/escrow.go
  cmd/akash/cmd/testnetify/state.go
  cmd/akash/cmd/testnetify/util.go
  cmd/akash/cmd/testnetify/validators.go
  go.mod
  go.sum
Labels: C:CLI

#1819 feat(tools): install cosmovisor on demand
  Makefile
  make/init.mk
  make/setup-cache.mk
Labels: Type: Build

#1821 feat(test): automate testing of network upgrades
  .github/workflows/release-dry-run.yaml
  .github/workflows/release.yaml
  .github/workflows/upgrades-release.yaml
  .github/workflows/upgrades.yaml
  app/export.go
  cmd/akash/cmd/testnetify/accounts.go
  cmd/akash/cmd/testnetify/state.go
  go.mod
  go.sum
  make/test-upgrade.mk
  meta.json
  script/upgrades.sh
  tests/upgrade/Makefile
  tests/upgrade/config-v0.24.0.tmpl.json
  tests/upgrade/upgrade_test.go
  tests/upgrade/upgrades-v0.24.0.json
Labels: C:CLI, Type: Build, Type: CI

#1824 fix(genaccounts): check if genesis accounts are present
  cmd/akash/cmd/genaccounts.go
Labels: C:CLI

#1825 chore!: upgrade to ibcv4
  CHANGELOG.md
  app/app.go
  app/app_configure.go
  app/config.go
  app/mac.go
  app/sim_test.go
  app/types/app.go
  cmd/akash/cmd/testnetify/cmd.go
  cmd/akash/cmd/testnetify/state.go
  cmd/akash/cmd/testnetify/util.go
  go.mod
  go.sum
  upgrades/software/v0.15.0/upgrade.go
  upgrades/software/v0.18.0/upgrade.go
  upgrades/software/v0.20.0/upgrade.go
Labels: C:CLI

#1827 refactor: replace github.com/pkg/errors with stdlib
  client/client.go
  cmd/akash/cmd/genaccounts.go
  events/cmd/root.go
  go.mod
  make/lint.mk
  sdl/cpu.go
  sdl/sdl.go
  sdl/storage.go
  sdl/v2.go
  x/audit/client/cli/tx.go
  x/audit/handler/handler_test.go
  x/audit/module.go
  x/cert/client/cli/errors.go
  x/cert/client/cli/query.go
  x/cert/handler/handler_test.go
  x/cert/module.go
  x/deployment/client/cli/flags.go
  x/deployment/client/cli/tx.go
  x/deployment/genesis.go
  x/deployment/handler/handler_test.go
  x/deployment/handler/server.go
  x/deployment/keeper/grpc_query.go
  x/deployment/module.go
  x/deployment/simulation/operations.go
  x/escrow/genesis.go
  x/escrow/keeper/keeper.go
  x/escrow/module.go
  x/gov/module.go
  x/inflation/module.go
  x/market/client/cli/flags.go
  x/market/handler/handler_test.go
  x/market/handler/server.go
  x/market/keeper/keeper.go
  x/market/query/path.go
  x/market/simulation/operations.go
  x/provider/client/cli/tx.go
  x/provider/config/config.go
  x/provider/handler/handler_test.go
  x/provider/handler/server.go
  x/provider/module.go
  x/provider/simulation/operations.go
  x/staking/module.go
Labels: C:x/cert, C:x/deployment, C:x/escrow, C:x/audit, C:x/gov, C:x/inflation, C:x/market, C:x/provider, C:x/staking, C:CLI, Type: Build
