Repository akash-network/node, pull requests merged in 2023-09, with the labels that each got.

#1883 feat: export genesis to custom file
  cmd/akash/cmd/root.go
  util/server/server.go
Labels: C:CLI

#1888 fix(build): switch goreleaser to use clean
  make/releasing.mk
Labels: Type: Build

#1889 feat(tests): run multiple validators within upgrade test
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  make/test-upgrade.mk
  script/upgrades.sh
  tests/upgrade/config.json
  tests/upgrade/test-config.json
  tests/upgrade/types/types.go
  tests/upgrade/upgrade-v0.26.0.json
  tests/upgrade/upgrade_test.go
Labels: Type: Build, Type: CI

#1891 feat(upgrade): create v0.26.0 network upgrade
  meta.json
  tests/upgrade/upgrade_test.go
  tests/upgrade/v0.26.0/postupgrade.go
  tests/upgrade/workers_test.go
  upgrades/CHANGELOG.md
  upgrades/software/v0.26.0/init.go
  upgrades/software/v0.26.0/upgrade.go
  upgrades/upgrades.go
Labels: C:upgrades

#1882 docs(readme): fix validator page link
  README.md
Labels: stale

#1896 build: use direnv to set up gotoolchain version
  .envrc
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  go.mod
  go.sum
  make/init.mk
  meta.json
  script/tools.sh
  script/upgrades.sh
Labels: Type: Build, Type: CI
