Repository akash-network/node, pull requests merged in 2023-06, with the labels that each got.

#1832 build(tests): make go mod configurable
  make/init.mk
  make/mod.mk
  make/releasing.mk
  make/test-integration.mk
  make/test-upgrade.mk
Labels: Type: Build

#1831 fix(testnetify): fix token balance flow in testnetify genesis
  cmd/akash/cmd/testnetify/accounts.go
  cmd/akash/cmd/testnetify/cmd.go
  cmd/akash/cmd/testnetify/state.go
  cmd/akash/cmd/testnetify/validators.go
  meta.json
Labels: C:CLI, Type: Build

#1828 feat: take rate, multi-currency
  app/app_configure.go
  app/types/app.go
  go.mod
  go.sum
  tests/upgrade/upgrades-v0.24.0.json
  testutil/state/suite.go
  upgrades/software/v0.24.0/upgrade.go
  x/deployment/client/cli/cli_test.go
  x/deployment/client/cli/flags.go
  x/deployment/client/cli/test_helpers.go
  x/deployment/handler/handler_test.go
  x/deployment/handler/server.go
  x/deployment/keeper/grpc_query_test.go
  x/deployment/simulation/genesis.go
  x/escrow/keeper/external.go
  x/escrow/keeper/keeper.go
  x/escrow/keeper/mocks/bank_keeper.go
  x/escrow/keeper/mocks/take_keeper.go
  x/market/client/cli/cli_test.go
  x/market/keeper/keeper_test.go
  x/market/simulation/genesis.go
  x/take/alias.go
  x/take/genesis.go
  x/take/keeper/keeper.go
  x/take/module.go
  x/take/simulation/genesis.go
Labels: C:x/deployment, C:x/escrow, C:x/market, C:CLI

#1839 build: remove need for vendor
  .github/workflows/tests.yaml
  Makefile
  make/environment.mk
  make/init.mk
  make/mod.mk
  make/proto.mk
  make/releasing.mk
  make/setup-cache.mk
Labels: Type: Build, Type: CI

#1842 fix(escrow/keeper): always down
  x/escrow/keeper/keeper.go
Labels: C:x/escrow

#1843 ci(labeler): add labels for x/take and upgrades
  .github/pr_labeler.yaml
Labels: Type: CI

#1845 fix(x/escrow): properly send fees to pool
  app/app_configure.go
  testutil/state/suite.go
  x/escrow/keeper/external.go
  x/escrow/keeper/keeper.go
  x/escrow/keeper/mocks/distr_keeper.go
Labels: C:x/escrow

#1847 fix(take): add default consensus version for take module
  upgrades/types/types.go
Labels: C:upgrades

#1848 fix(upgrades): error if feegrant module is not initialized
  upgrades/software/v0.24.0/upgrade.go
Labels: C:upgrades

#1787 feat: add cgosymbolizer to traceback C
  Makefile
  cgo_trace.go
  go.mod
  go.sum
Labels: keepalive, Type: Build

#1852 refactor: rename upgrade config prefix
  make/test-upgrade.mk
  tests/upgrade/upgrade-v0.24.0.json
Labels: Type: Build

#1853 docs: add changelog for network upgrades
  upgrades/CHANGELOG.md
Labels: C:upgrades
