Repository akash-network/node, pull requests merged in 2025-07, with the labels that each got.

#1989 fix: fix slice init length
  x/audit/keeper/keeper_test.go
Labels: C:x/audit

#1992 fix(x/market): initialize reverse indicies during genesis import
  app/sim_test.go
  x/market/genesis.go
Labels: C:x/market

#1996 fix(cmd/testnetify): use syscall to self signal exit
  .goreleaser.yaml
  cmd/akash/cmd/testnetify/testnetify.go
Labels: C:CLI, Type: Build
